.c-article-details {
    .info {
        margin-bottom: 5rem;

        &__text {
            flex: 1;
        }

        &__image {
            flex: 1;

            img {
                max-height: 300px;

                &.rounded {
                    border-radius: 50% !important;
                }
            }
        }
    }
}
