//
// General
//

body,
html {
    height: 100%;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

.main {
    height: 100%;
    padding-top: 80px;
}

.background-primary {
    background-color: $primary-color;
}

//
// Navbar
//

.navbar {
    box-shadow: 0rem 0rem 1rem lightgray;
    background-color: $white;

    .navbar-nav {
        .nav-item {
            .nav-link {
                font-weight: bold;
                color: $primary-color !important;
                border-radius: 10%;

                &:hover,
                &:active {
                    color: white !important;
                    background-color: $secondary-color !important;
                }
            }
        }
    }
}
