<header>
    <app-navbar></app-navbar>
</header>

<main class="main">
    <router-outlet></router-outlet>
</main>

<footer class="background-primary text-center text-white p-2">
    <div class="wrapper">
        <small>
            <p class="mb-0">
                Ilustrações do
                <a class="text-white" href="https://br.freepik.com/vectorjuice" target="_blank">@vectorjuice</a>
            </p>
        </small>
        <small>
            <p>Ícones do site <a class="text-white" href="https://www.flaticon.com" target="_blank">flaticon</a></p>
        </small>
    </div>
</footer>
