.c-welcome {
    .b-infos {
        .btn i {
            vertical-align: middle;
        }
    }

    .b-image {
        img {
            max-height: 400px;
        }

        span {
            font-size: 10px;
        }
    }
}
