<div class="wrapper c-welcome d-flex align-items-center flex-wrap-reverse">
    <div class="b-infos flex-grow-1 text-center">
        <h1 class="b-infos__title c-text-yellow">
            <span class="c-text-primary">E</span>ducação <span class="c-text-primary">Inc</span>lusiva
        </h1>
        <h3 class="b-infos__subtitle c-text-yellow">Texto texto texto texto texto</h3>

        <a [routerLink]="['/topics']" class="btn c-btn-primary mt-5">
            Ir para os tópicos
            <i class="bi bi-arrow-right"></i>
        </a>
    </div>

    <div class="b-image d-flex flex-column flex-grow-1 align-items-center mb-5 mb-md-0">
        <img class="img-fluid" src="assets/images/abstract-concept.jpg" alt="Duas pessoas conversando algo abstrato" />

        <span class="text-muted">
            <a class="text-reset" href="https://br.freepik.com/fotos-vetores-gratis/criancas">
                Crianças vetor criado por vectorjuice - br.freepik.com</a
            >
        </span>
    </div>
</div>
