<div class="wrapper c-welcome d-flex align-items-center flex-wrap-reverse">
    <div class="b-infos text-center">
        <h2 class="b-infos__title c-text-yellow">
            <span class="c-text-primary">E</span>ducação <span class="c-text-primary">Inc</span>lusiva
        </h2>

        <h4 class="b-infos__subtitle c-text-subtitle">
            Auxiliando professores na inclusão de pessoas que estão no espectro autista
        </h4>

        <a [routerLink]="['/topics']" class="btn c-btn-primary mt-5">
            Ir para os tópicos
            <i class="bi bi-chevron-compact-right"></i>
        </a>
    </div>

    <div class="b-image text-center mb-5 mb-md-0">
        <img class="img-fluid" src="assets/images/abstract-concept.jpg" alt="Duas pessoas conversando algo abstrato" />
    </div>
</div>
