<div class="wrapper c-about text-center">
    <h2 class="c-about__title mb-5 mb-md-3">Um pouquinho sobre esse projeto</h2>

    <div class="b-options row gy-5 gx-md-5 m-0">
        <div class="col-md-6 b-option d-flex flex-wrap flex-md-nowrap align-items-start justify-content-center">
            <img src="assets/icons/hands.svg" alt="Duas mãos se apertando" />
            <p class="text-md-start">
                Visa principalmente auxiliar professores a tornar a inclusão no ensino regular algo real
            </p>
        </div>

        <div class="col-md-6 b-option d-flex flex-wrap flex-md-nowrap align-items-start justify-content-center">
            <img src="assets/icons/hug.svg" alt="Uma pessoa abraçando outra" />
            <p class="text-md-start">
                Feito por uma irmã que analisa necessidades do seu irmão, que é autista, e quer poder ajudar outras
                pessoas também
            </p>
        </div>

        <div class="col-md-6 b-option d-flex flex-wrap flex-md-nowrap align-items-start justify-content-center">
            <img src="assets/icons/article.svg" alt="Um artigo online" />
            <p class="text-md-start">
                Compartilha diversos conteúdos, de forma prática e não massiva, de artigos, livros, entre outros
            </p>
        </div>

        <div class="col-md-6 b-option d-flex flex-wrap flex-md-nowrap align-items-start justify-content-center">
            <img src="assets/icons/degree.svg" alt="Um chapéu e um diploma de graduação" />
            <p class="text-md-start">Criado a partir de um trabalho de conclusão de curso</p>
        </div>
    </div>
</div>
