<div class="wrapper c-about text-center">
    <h2 class="c-about__title">Sobre</h2>

    <div class="b-options row m-0 mt-5">
        <div class="b-option col-md-6 mb-5">
            <span class="square">Img</span>
            <span class="ms-3">Texto</span>
        </div>

        <div class="b-option col-md-6 mb-5">
            <span class="square">Img</span>
            <span class="ms-3">Texto</span>
        </div>

        <div class="b-option col-md-6 mb-5">
            <span class="square">Img</span>
            <span class="ms-3">Texto</span>
        </div>

        <div class="b-option col-md-6 mb-5">
            <span class="square">Img</span>
            <span class="ms-3">Texto</span>
        </div>
    </div>
</div>
