// ======================================================
// Colors
// ======================================================
$white: #ffffff;
$red: #ec2323;
$yellow: #f9db6d;
$dark-green: #008037;
$light-green: #99d5c9;
$purple-navy: #464d77;

$primary-color: $dark-green;
$secondary-color: $light-green;

$error-color: #ec2323;
$warning-color: #f9db6d;
