// ======================================================
// Colors
// ======================================================
$purple-navy: #464D77;
$naples-yellow: #F9DB6D;
$forest-green: #008037;
$snow: #F4EDED;
$middle-blue-green: #99D5C9;

$primary-color: $forest-green;
$secondary-color: $middle-blue-green;
